:root {
  --primary-color: #e1bee7;
  --heading-background-color: #e6739f;
  --border-color: #790c5a;
  --text-color: #222831;
  --font-family: "Merienda", cursive;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}

h1 {
  background: var(--heading-background-color);
  border-radius: 20px;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

marquee {
  font-size: 20px;
  margin-top: 10px;
}

button span {
  font-size: 15px;
}

.container {
  margin: 0;
}

.weather-app {
  background: var(--primary-color);
  border: 3px solid var(--border-color);
  border-radius: 10px;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
}

.information {
  margin-bottom: 10px;
  text-align: center;
}

.city {
  font-size: 30px;
  font-weight: 600;
}

.date {
  font-size: 20px;
  font-weight: 500;
}

.more-information {
  border: 2px solid var(--border-color);
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.weather-temperature img {
  height: 90px;
  margin-right: 10px;
  width: 90px;
  position: relative;
  top: -15px;
}

.weather-temperature strong {
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -28px;
}

.weather-temperature .active {
  color: var(--text-color);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.gif-image {
  border-radius: 20px;
  display: block;
  float: right;
  margin-bottom: 10px;
  width: 260px;
}

.weather-forecast {
  margin-top: 20px;
  justify-content: space-evenly;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
}

.weather-forecast,
.weather-forecast-temperature {
  text-align: center;
  font-weight: 400;
}

.footer {
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 780px) {
  h1 {
    font-size: 28px;
  }

  .information .city {
    font-size: 25px;
  }

  .information .date {
    font-size: 20px;
  }
}
